<footer>
    <nav>
      <ul>

        <h3>Sociala medier</h3>
        <a href="https://twitter.com/Stadafintab">
            <img src="../assets/twitter.png" alt="1icon">
          <li>Twitter</li>
        </a>
        <a href="https://www.instagram.com/Stadafintab/">
            <img src="../assets/instagram.png" alt="2icon">
          <li>Instagram</li>
        </a>
        <a href="https://www.facebook.com/Stadafintab/">
            <img src="../assets/facebook.png" alt="3icon">
          <li>Facebook</li>
        </a>
        <a href="https://www.youtube.com/@Stadafintab">
            <img src="../assets/youtube.png" alt="4icon">
          <li>Youtube</li>
        </a>
      </ul>
      <ul>
        <h3>Tjänster</h3>
        <a href="#">
          <li>Jobba hos oss</li>
        </a>
        <a href="#">
          <li>Karriär</li>
        </a>
        <a href="#">
          <li>Lär känna oss</li>
        </a>
      </ul>
      <ul>
        <h3>Hjälp och Kontakt</h3>
        <a href="#">
          <li>Kontaka oss</li>
        </a>
        <a href="#">
          <li>Vanliga frågor</li>
        </a>
        <a href="#">
          <li>Om personuppgifter och cookies</li>
        </a>
      </ul>
    </nav>

    <h1>STÄDA FINT AB</h1>
    <p>© STÄDA FINT SVERIGE 2022</p>

  </footer>