<div class="bild2">

    <div class="info">
      <img src="../assets/atwork.jpg" alt="1">
      <div class="info-block">
        <h1>Såhär jobbar vi:</h1>
        <p class="inledning">Chilla, slappa. Netflix och en varm filt. Det är vårat motto det! </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam harum suscipit temporibus pariatur architecto a repellat nesciunt quaerat! Nostrum dolore, molestiae obcaecati accusamus enim architecto dicta ipsum ullam delectus? Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusantium eligendi accusamus unde suscipit magni
          nemo, aliquid neque maxime maiores. Sunt rerum cumque illum consequuntur.Lorem ipsum nemo, aliquid neque maxime maiores. Sunt rerum cumque illum consequuntur.</p>
        </div>
      <div class="info-block">
       <h1>Varför ska du välja oss?:</h1>
       <p class="inledning">Gillar du också stämningen av när hemmet ser ut som ett festivalområde efter tredje dagen? Stökigt! Säger du. Mysigt! Säger vi!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro perferendis aliquid dolorem, dicta eaque, dolore dolores sequi rem mollitia facere, accusamus exercitationem iste saepe placeat! Labore ratione officiis natus! Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusantium eligendi accusamus unde suscipit magni
      </div>
      <img src="../assets/oss.jpg" alt="2">
    </div>
  
  </div>