<div class="bild2">

    <div class="card-wrap">
    <div class="card">
        <img src="../assets/broom.png" alt="broom">
        <h4>Basic Städ</h4>
        <ul>
            <li>Dammsugning</li>
            <li>Dammning</li>
            <li>Våttorkning</li>
        </ul>
    </div>
    
    <div class="card">
        <img src="../assets/vacuum.png" alt="vacuum">
        <h4>Topp Städ</h4>
        <ul>
            <li>Dammsugning</li>
            <li>Dammning</li>
            <li>Våttorkning</li>
            <li>Spegelputs</li>
            <li>Soptömning</li>
        </ul>
    </div>
    
    <div class="card">
        <img src="../assets/diamond.png" alt="diamond">
        <h4>Diamant Städ</h4>
            <ul>
            <li>Dammsugning</li>
            <li>Dammning</li>
            <li>Våttorkning</li>
            <li>Spegelputs</li>
            <li>Soptömning</li>
            <li>Grovstäd kök och badrum</li>
        </ul>
    </div>
    <div class="card">
        <img src="../assets/window.png" alt="window">
        <h4>Fönstertvätt</h4>
        <ul>
            <li>Fönstertvätt Eko</li>
            <li>Efterbehandlig</li>
        </ul>
        </div>
    
    </div>
        
       
    </div>