.bokad {
    border-top: 2px solid rgb(0, 0, 0);
    color: black
}

.utförd {
    border-top:2px solid rgb(0, 0, 0) ;
    color: rgb(68, 68, 68);
    border-bottom:2px solid rgb(0, 0, 0) ;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

img {
    width: 30px;
}

img:hover{
    transform: translate3D(0,-1px,0) scale(1.1);
}

.trashcan{
display: flex;
justify-content: space-between;
}

.trash{
    background-image: url("/app/src/assets/trash.png");
}
